/* MAIN CONTAINER STYLES */
.main-container {
  grid-area: a; /* From the App component */

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
/* END OF MAIN CONTAINER STYLES */

