/* HOME CONTAINER STYLES */
.home-content-container {

    background-color:  #FFFFFF;
    grid-area: c;

    display: grid;
    grid-template-columns: repeat(auto-fillminmax(280px, 1fr));
    grid-template-rows: 60% 40%;
    object-fit: cover;

    background-image: url(../../img/homeLogo_280w.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size:contain;
    background-position:center;
}

/* END OF HOME CONTAINER STYLES */

/* PITCH STYLES */
.pitch {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  place-self: center;

  background-color: #ff7f00;
  box-shadow: 10px 10px 5px -2px #888;
  border-radius: 4px;
}
/* END OF PITCH STYLES */
