/* HOME CONTAINER STYLES */
.home-content-container {
    grid-area: o;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;

    margin-top: 86px;
}

/* END OF HOME CONTAINER STYLES */

/* HOME LOGO STYLES */
.home-logo {
  grid-area: hp;
  max-width: 100%;
  height: auto;
}
/* END OF HOME LOGO STYLES */
