#sidebar-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    box-shadow: 10px 0 5px -2px #888;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ff7f00;

    overflow-x: hidden;
    transition: 0.5s;
}

/* MEDIA QUERIES */
@media screen and (min-width: 900px) {
  #sidebar-container {
    box-shadow: 1px 0 8px -1px #ccc;
  }
}
/* END OF MEDIA QUERIES */
