.footer {
  grid-area: f; /* From the App component */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 1fr; */
  /* grid-auto-rows: 50vw; */

  background-color:	#A8B1B8;
}
