.signup-container {
  /* border: solid black 2px; */
  /* grid-column: 2 / 11; */
  grid-area: s;
  place-self: center;

  /* background-color: ; */
  box-shadow: 0 0 8px #888888;
  padding: 10px 20px;
  /* margin: 0 20px; */
  /*margin-top: 15px;
  margin-right: 5px;
  margin-bottom: 15px; */
  /* max-width: 90%; */
  border-radius: 4px;
}

.form-header {
  padding-bottom: 10px;
}

.form-elements,
.name,
.email,
.number {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.name label,
.email label,
.number label {
  font-size: 16px;
  color: #b3b3b3;
  top: -30px;
  left: 0;
  margin-bottom: 10px;
  display: block;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;
}

.name input,
.email input,
.number input {
  display: block;
  padding: 10px;
  position: relative;
  background: none;
  border: none;
  border-bottom: 2px solid #b3b3b3;
  z-index: 2;
  /* transition: border-bottom 0.1s ease; */
}

input:focus,
input:valid {
  border-bottom: 2px solid #ff7f00;
  outline: none;
}

input:focus + label,
input:valid + label {
  top: -65px;
  font-size: 14px;
  color: #00275e;
}

input[type=submit] {
  cursor: pointer;
  width: 40%;
  padding: 10px;
  background-color: #007bff;
  border-bottom: none;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.child-list {
    padding: 0;
}

/* .child-list li:nth-child(1) {
    border-top: none;
} */

.child-list li {
    padding-top: 15px;
    border-top: 2px dashed;
}

.submit-button {
    width: 25%;
}