/* HOME COMPONENT CONTAINER STYLES */
.home-content-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80% 20%;
    grid-gap: 10px;

    width: 100vw;
}
/* END OF HOME CONTAINER STYLES */

/* HEADER CONTAINER STYLES */
.header-container {
  grid-column: 1 / -1;
  background-color: #1C227C;
}
/* END OF HEADER CONTAINER STYLES */
