/* HOME COMPONENT CONTAINER STYLES */
.home-content-container {
    grid-column: 1 / -1; /* From .main-container in mainContainer.css*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
}
/* END OF HOME CONTAINER STYLES */

/* HEADER CONTAINER STYLES */
.header-container,
.header-title-2 {
  display: flex;
  flex-direction: column;
}

.header-container {
  grid-column: 1 / -1;
  align-content: center;
  background-color: red;
}

.header-title-1,
.header-img,
.header-title-2 {
  margin: 0 auto;
  padding: 5px;
}

.ht1-item {
  font-size: 4.2em;
}

.header-title-2 {
  justify-content: center;
  text-align: center; 
}

/* END OF HEADER CONTAINER STYLES */

/* LEARN MORE CONTAINER STYLES */
.learn-more-container {
  grid-column: 1 / -1;
  background-color: coral;
  padding: 5px;
  display: flex;
  justify-content: center;
}
/* END OF LEARN MORE CONTAINER STYLES */

/* LEARN MORE BUTTON STYLES */
.button-link {
  align-self: center;
  border: 2px solid #1412AB;
  border-radius: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: red;
  color: black;
  padding: 5px 10px;
  font-size: 1.5em;
  text-align: center;
}

.button-link:hover {
  background-color: #1412AB;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #F0893D;
}
/* END OF LEARN MORE BUTTON STYLES */

/*=======================================================*/

/* MEDIA QUERIES */
/* Screens >= Medium Screen Sizes */
@media (min-width: 600px) {
  .home-content-container {
    grid-template-rows: 1fr auto;
  }

  .header-container,
  .header-title-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 2fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .header-container {
    grid-template-areas:
      "h1 h1"
      "hi hi"
      "h2 h2";
  }
  
  .header-title-1 {
    grid-area: h1; /* From .header-container */
    margin: 0;
  }

  .ht1-item {
    font-size: 7em;
  }

  .header-img {
    grid-area: hi; /* From .header-container */
  }

  .header-title-2 {
    grid-area: h2; /* From .header-container */
    margin: 0;
    grid-template-areas: 
      "ht21 ht22"
      "ht23 ht23";
  }

  .ht2-item-1,
  .ht2-item-2,
  .ht2-item-3 {
    font-size: 5em;
  }

  .ht2-item-1 {
    grid-area: ht21; /* From .header-title-2 */
    margin-left: 50px;
  }

  .ht2-item-2 {
    grid-area: ht22; /* From .header-title-2 */
  }

  .ht2-item-3 {
    grid-area: ht23; /* From .header-title-2 */
  }
}
/* END OF MEDIA QUERIES */
