/* MAIN CONTAINER STYLES */
.main-container {
  transition: margin-left .5s;

  grid-column: 1 / -1;
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, minmax(1fr, auto));
  grid-template-areas:
    "h h h h h h h h h h h h"
    ". o o o o o o o o o o ."
    ". a a a a a a a a a a ."
    ". t t t t t t t t t t ."
    ". s s s s s s s s s s ."
    ". r r r r r r r r r r ."
    "f f f f f f f f f f f f";
  grid-gap: 20px;
}
/* END OF MAIN CONTAINER STYLES */
