.main-container {
  /* border: solid green 6px; */
  transition: margin-left .5s;
  background-color: #D0D1D3;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "h h h h h h h h h h h h"
    "h h h h h h h h h h h h"
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c";
}
