/* MAIN CONTAINER STYLES */
.main-container {
  transition: margin-left .5s;

  grid-column: 1 / -1;
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 45% 20%;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}
/* END OF MAIN CONTAINER STYLES */
