/* SIDEBAR CONTENT STYLES */
.sidebar {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4% 25% 4% 2% 4% 60%;
  grid-template-areas:
    ".."
    "sh"
    ".."
    "hr"
    ".."
    "sl";
}
/* END OF SIDEBAR CONTENT STYLES */

/* SIDEBAR HEADER STYLES */
.sidebar-header {
  grid-area: sh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.logo {
  grid-column: 2 / 12;
  grid-row: 2 / 12;
  place-self: center;
}

.logo img {
    margin-top: 15px;
}

.cross {
  grid-column: 11 / -1;
  grid-row: 1 / 3;
  place-self: center;
}

.fa-times {
  font-size: 30px;
  color: #FFFFFF;
  font-weight: lighter;
}
/* END OF SIDEBAR HEADER STYLES */

/* HORIZONTAL LINE STYLES */
.hr {
  grid-area: hr;
  color: white;
  width: 90%;
  border-bottom: 1px solid #f5f5f5f5;
  place-self: center;
  margin-top: 25px;
}
/* END OF HORIZONTAL LINE STYLES */

/* SIDEBAR LINKS CONTAINER AND SIDEBAR LINKS */
.sidebar-links-container {
  grid-area: sl;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 20%);
}

ul {
  padding-left: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  place-self: center;
}

ul li a {
  text-decoration: none;
  padding: 20px 30px;
  color: white;
}

ul li a:hover {
    background-color: #00275e;
    color: #f8fafb;
    text-decoration: none;
}
/* END OF SIDEBAR LINKS CONTAINER AND SIDEBAR LINKS */
