.content {
  padding: 10px;
  background-color: #D0D1D3;
  transition: margin-left .5s;
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "b . m m m m m m m m m m"
    ". . m m m m m m m m m m"
    ". . m m m m m m m m m m"
    ". . m m m m m m m m m m";
}

.burger-container {
  grid-area: b;
}

.main {
  grid-area: m;
}
