.main-container {
  /* border: solid green 6px; */
  transition: margin-left .5s;
  background-color: #D0D1D3;
  padding: 20px;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
}

.burger-container {
    grid-row: 1 / 2;
}

.main {
    grid-row: 2 / -1;
}
