.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 180px auto;
  grid-template-areas:
    "lh lh" /* logo header */
    "ml ml" /* menu links */
    "ml ml"
    "ml ml"
    "ml ml"
    "ml ml";

    background-color: red;
    opacity: .8;
}

.logo-container {
  grid-area: lh;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.logo {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  place-self: center;
}

.logo img {
  width: 180px;
  height: 180px;
}

.cross {
  grid-column: 7 / -1;
  grid-row: 1 / 3;
  color: black;
  place-self: center;
}

.cross i {
  font-size: 35px;

}

.menu-links {
  grid-area: ml;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 70px);
  grid-template-areas:
    "h h h h h h"
    "i i i i i i"
    "t t t t t t"
    "s s s s s s"
    "a a a a a a";
}

.home-menu-item {
  grid-area: h;
}

.about-menu-item {
  grid-area: i;
}

.testimonial-menu-item {
  grid-area: t;
}

.signup-menu-item {
  grid-area: s;
}

.articles-menu-item {
  grid-area: a;
}

.menu-links a {
  text-decoration: none;
  padding: 30px;
  place-self: center;
}
