.sidebar {
  border: solid orange;
  background-color: #fcd276;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto;
}

/* Sidebar Header */
.sidebar-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.logo {
  grid-column: 2 / 12;
  grid-row: 2 / 12;
  place-self: center;
  background-color: lightblue;
}

.logo img {
  width: 180px;
  height: 180px;
}

.cross {
  background-color: yellow;

  grid-column: 11 / -1;
  grid-row: 1 / 3;
  place-self: center;
}

.fa-times {
  font-size: 30px;
}

/* End of Sidebar Header */

/* Sidebar Links Container and Sidebar Links */
.sidebar-links-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 2fr);
}

ul {
  padding-left: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  padding: 20px 60px;
}

.center {
  place-self: center;
}
/* End of Sidebar Links Container and Sidebar Links */
